<!DOCTYPE html>
<html lang="en">
  <!-- template insertion -->
  <%- include('../includes/iHead.ejs') %>

  <body>
    <!-- template insertion -->
    <%- include('../includes/iNav.ejs') %>

    <main>
      <!-- <form action="/action_page.php"> -->
      <div style="width: 33%">
        <form class="form-control">
          <label for="t">Title:</label>
          <input
            type="text"
            id="post-title"
            name="t"
            value="<% if (editing) { %><%=product.title%><% } %>"
          /><br />
          <label for="d">Desc.:</label>
          <textarea type="text" id="post-desc" name="d">
        <% if (editing) { %><%=product.description%><% } %></textarea
          ><br />
          <label for="p">Price</label>
          <input
            type="number"
            step="0.1"
            id="post-price"
            name="p"
            value="<% if (editing) { %><%=product.price%><% } %>"
          /><br />
        </form>
      </div>
      <br />
      <!-- <button class="btn" onclick="testPOST()"><%=buttonCaption%></button> -->
      <% if (editing) { %>
      <hr />
      <h2>'Update' functionaliy is skipped for simplicity sake.</h2>
      <h2>
        Aim of this page is to present usage of query parameters (see page
        link).
      </h2>
      <h3>?editme=true</h3>

      <% } else { %>
      <!-- AJAX call has special 'csrf' header -->
      <button class="btn" onclick="testPOST('add-product')">
        <%=buttonCaption%>
      </button>
      <% } %>
    </main>
  </body>
</html>
