<!DOCTYPE html>
<html lang="en">
  <!-- template insertion -->
  <%- include('../includes/iHead.ejs') %>

  <body>
    <!-- template insertion -->
    <%- include('../includes/iNav.ejs') %>

    <main>
      <h1>Product Info</h1>
      <h1><%= product.title %></h1>
      <hr />
      <h2><%= product.price %></h2>
      <p><%= product.description %></p>
      <!-- pass variables to nested template -->
      <%- include('../includes/iAddToCart.ejs', {product: product}) %>
    </main>
  </body>
</html>
